.main-sidebar .nav .nav-item .nav-link.active{
    background: none !important;
    /* color: black !important; */
}
.nav-item .nav-link.active{
    background: black;
}

.main-sidebar .nav .nav-item .nav-link:hover{
    background: black !important;
    color: green !important;
    transition: .5s all ease-in-out !important;
}

@media (min-width: 992px){
.col-lg-2 {
    width: 8.666667% !important;
}
}