.round{
    border: 1px solid grey;
    border-radius: 60px !important;
}
button.accordion-button {
    background: none !important;
    color: none !important;
    height: 0px !important;
}

.btnchange{
    background: rgb(13, 190, 187) !important;
    color: #fff !important;
    border: none !important;
}
.btnchange:hover{
    border: 1px solid rgb(13, 190, 187) !important;
    background: none !important;
    color: rgb(13, 190, 187) !important;
    transition: .5s all ease-in-out;
}
.btnchange1{
    border: 1px solid rgb(13, 190, 187) !important;
    color: rgb(13, 190, 187) !important;
}
.btnchange1:hover{
    background: rgb(13, 190, 187) !important;
    color: #fff !important;
    transition: .5s all ease-in-out; 
}

/* Selction CSS */
.selectsoption{
    padding: 5px 2px 5px 2px;
    border-radius: 50px;
    background: none;
    border:1px solid black;
}
/* DatePicker CSS */
.datepickeroption{
    padding: 5px 2px 5px 2px;
    border-radius: 50px;
    background: none;
    border:1px solid black;
}

/* suveillance Side Toggle Work */
button.me-2.settingButton.btn.btn-primary {
    float: right;
    background: rgb(13, 190, 187);
    border: 1px solid rgb(13, 190, 187);
    background-color: none !important;
}   
button.me-2.settingButton.btn.btn-primary:hover{
    background: none !important;
    color: rgb(13, 190, 187) !important;
    box-shadow: 2px 2px 5px !important;
    transition: .5s all ease-in-out;
}
/* suveillance Side Toggle Work */

/* for surveillance component work  */
.st,.st_c{
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid rgb(13, 190, 187);
    border-radius: 50px;
    text-align: center;
    margin-right: 5px;
    background: none;
}
.addbtn{
    background: none !important;
    border: 1px solid rgb(13, 190, 187) !important;
    margin-left: 5px !important;
    color: black !important;
}
.addbtn:hover{
    color: rgb(13, 190, 187) !important;
    transition: .5s all ease-in-out;
    box-shadow: 2px 2px 5px !important;
}
/* for surveillance component work  */