/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.Button {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
}
.Button:hover,.Button:focus, .Button:active, .Button.active, .open>.dropdown-toggle.Button {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}
.center{
    display: flex;
    justify-content: center;
    margin: 10px 0px !important;
}
.checkfornew{
    background: none !important;
    color: grey !important;
    padding: 5px 60px 5px 60px !important;
    border-radius: 30px !important;
    border: 1px solid grey !important;
}
.checkfornew:hover{
    background: rgb(13, 190, 187) !important;
    transition: .5s all ease-in-out;
    border: none !important;
    color: white !important;
}
.cardBody{
padding: 5px 0px 5px 10px !important;
/* background: !important; */
}
.btnClr{
    background:rgb(13, 190, 187) !important;
    color: white !important;
    border: 1px solid rgb(13, 190, 187) !important;
}
.btnClr:hover{
    background: white !important;
    color: rgb(13, 190, 187) !important;
    transition: .5s all ease-in-out;

}



.bgrn{
    background: #323232 !important;
    color: #fff !important;
}
.btp{
    border: 1px solid rgb(13, 190, 187) !important;
    color: rgb(13, 190, 187) !important;
}
.btp:hover{
    background: rgb(13, 190, 187) !important;
    color: white !important;
    transition: .5s all ease-in-out;
}

.cf{
    background: #323232 !important;
}

.backGround{
    background: rgb(74, 71, 70);
}