
.top{
    position: relative;
    top: -45%;
    padding: 10px 0px;
    /* background-color: #2D2D2D; */
}
.recent h2{
color: white;
/* font-family: 'Times New Roman', Times, serif; */
}
.clr{
    display: flex;

}
.clr h4{
    color: white;
    font-weight: 600;
    /* font-family: 'Times New Roman', Times, serif; */
    /* border-right: 1px solid white; */
    margin-right: 10px;
    
}
.pb{
    position: relative;
    bottom: 5px;
    left: -5px;
    font-size: 20px;
}
.cl{
    background: rgb(13, 190, 187) !important;
    border: none !important;
}
.ctp{
    margin: 5px 0px 5px 15px;
}
.ctp h5{
    color: whitesmoke;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 15px;
    /* font-family: 'Times New Roman', Times, serif; */
}
.ctp Button{
    background: rgb(13, 190, 187);
    border: none !important;
    margin-right: 5px;
}
.ctp Button:hover{
    color: rgb(13, 190, 187);
    background: none !important;
    border: 1px solid rgb(13, 190, 187) !important;
    transition: .5s all ease-in-out;
}