.navControlling{
    background-color: #3f3f3f;
}
.main-navbar .navbar {
    height: 40px !important;
}
.main-navbar .navbar .nav-link-icon i {
    line-height: 20px !important;
}
.mynav{
    position: absolute;
    top: 0px;
    left: -160px;
    background-color: #3f3f3f;
    width: 200px;
    height: 40px;
    /* left: px; */
}
/* @media (min-width: 1200px) { 
    .mynav{
        display: none;
    }
}    */
/* @media screen (min-width: 768px) and (max-width: 992px) {
} */